<html>  
        <head>
	        <title>来自S2SH</title>
	        <style type="text/css">
	        	.my{
	        		font-size: 20pt;
	        	}
	        </style>
        </head>  
        <body>  
            <div>${userName} 邮件发送!</div>  
            <div class="my">${content}</div>
            <div>${email}</div>   
        </body>  
 </html>
